a {
	text-decoration: none;
}
a.back {
	left: 0;
}
a.back:after {
	content: url(left.svg);
}
article {
	margin-top: 3em;
}
body {
	margin: 0;
	-webkit-user-select: none;
}
footer {
	bottom: 0;
}
footer, header {
	background: hsl(210, 100%, 40%);
	color: #fff;
	left: 0;
	line-height: 2;
	position: fixed;
	right: 0;
	text-align: center;
}
footer a {
	color: #fff;
	min-width: 2em;
}
header {
	top: 0;
	font-size: 150%;
}
header a {
	color: #fff;
	min-width: 2em;
	position: absolute;
}
img {
	border: 0;
}
